extends layout

block content
  .board-container 
    .board-header 
      h1 Mini Message Board
    .board-body 
      .messages-container 
        each message in messages 
          div 
            p.message-header
              span.message-author #{message.user}
              span.message-date #{message.added.toISOString().substring(0, 10)}
            p.message-text #{message.text}     
    .board-footer
      form(action="/new", method="post").message-form
        .inputs
          input(type="text", name="messageUser", placeholder="Enter your name...", required)
          textarea(name="messageText", cols="30", rows="3", placeholder="Enter a message...", required)
        input(type="submit", value="Add")
